<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="container mt-5">
    <h1>Add a new player</h1>
    <form th:action="@{'/players/add'}" th:modelAttribute="players" method="post">
        <label>
            Name: <input type="text" name="name" th:value="${players.name}"/> <br>
            Age: <input type="number" name="age" th:value="${players.age != null} ? players.age : '' "/> <br>
            Country: <select th:name="'country'">
            <option th:each="country : ${countries}"
                    th:text="${country != null && country.name != null } ? ${country.getName()} : ''"></option>
            </select> <br>
            Position: <select name="position">
            <option th:each="pos : ${positions}" th:name="'position'"
                    th:text="${pos != null && pos.name != null} ? ${pos.getName()} : ''"></option>
        </select> <br>
            Rating: <input type="number" name="rating" th:value="${players.rating != null} ? players.rating : '' "/> <br>
            Team: <select name="team">
            <option th:each="t : ${teams}" th:name="'team'"
                    th:text="${t != null && t.name != null} ? ${t.name} : ''"></option>
        </select> <br>
        </label>
        <button type="submit" >CREATE</button>
    </form>
</div>

</body>
</html>