<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="container mt-5">
    <h1>Update a player</h1>
    <form th:action="@{'/players/update'(id=${player.id})}" th:modelAttribute="player" method="post">
        <label>
            Name: <input type="text" name="name" th:value="${player.name}" /> <br>
            Age: <input type="number" name="age" th:value="${player.age}" /> <br>
            Country: <input type="text" name="country" th:value="${player.country}" /> <br>
            Position: <input type="text" name="position" th:value="${player.position}" /> <br>
            Rating: <input type="number" name="rating" th:value="${player.rating}" /> <br>
            Team: <input type="text" name="team" th:value="${player.team == null} ? '' : ${player.team.getName()}" /> <br>
            <button type="submit" class="btn btn-success">UPDATE</button>
        </label>
    </form>
</div>

</body>
</html>