<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
        .green {
            color: green;
        }

        .yellow {
            color: yellow;
        }

        .red {
            color: red;
        }

        .black {
            color: black;
        }
    </style>
</head>
<body>

<div th:fragment="personalCardTeam">
    <div class="card" style="width: 18rem;">
        <img style="max-width: 250px; max-height: 300px" th:src="@{${team.logoURL}}" class="card-img-top"
             alt="logoOfTeam">
        <div class="card-body">
            <h5 class="card-title" th:text="${team.name}"></h5>
            <p class="card-text"></p>
        </div>
        <div class="lists">
            <ul>
                <li class="list-group-item"
                    style="font-weight: bold;
                color: black;
                font-size: 28px"
                    th:text="'   City:'"></li>
            </ul>
            <ul>
                <li class="list-group-item"
                    style="font-weight: bold;
                color: chocolate;
                font-size: 28px"
                    th:text="${team.city}"></li>
            </ul>
            <div class="card-body">
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
    </div>
</div>

<div th:fragment="teamRoster">
    <h1 class="text-center mb-4">Team roster</h1>
    <div class="grid-container">
        <div class="grid-item" th:each="player : ${team.players}">
            <a href="#"
               th:href="@{'/players/get/{id}'(id=${player.id})}"
               th:text="${player.name}"></a>
        </div>
    </div>
</div>

<div th:fragment="personalCardPlayer">
    <div class="card" style="width: 18rem;">
        <img style="max-width: 250px; max-height: 300px" th:src="@{${player.imageURL}}" class="card-img-top"
             alt="logoOfTeam">
        <div class="card-body">
            <h5 class="card-title" th:text="${player.name}"></h5>
            <p class="card-text"></p>
        </div>
        <div class="lists">
            <ul>
                <li class="list-group-item" style="color: black">Profile:</li>
                <li class="list-group-item" style="color: black">Age:</li>
                <li class="list-group-item"
                    style="color: black">Rating:
                </li>
                <li class="list-group-item"
                    style="color: black">Position:
                </li>
                <li class="list-group-item"
                    style="color: black">Country:
                </li>
            </ul>
            <ul>
                <li class="list-group-item"
                    style="color: black">
                    <a class="card-link" href="#"
                       th:href="${player.wikiURL}"
                       th:text="${player.team !=null} ? 'link' : ''"></a>
                </li>
                <li class="list-group-item"
                    style="color: black" th:text="${player.age!=null} ? ${player.age} : 'ND'"></li>
                <li class="list-group-item">
                    <span th:if="${player.rating !=null and player.rating > 75}" th:class="green"
                    ></span>
                    <span th:if="${player.rating !=null and player.rating > 50 and player.rating <76}"
                          th:class="yellow"></span>
                    <span th:if="${player.rating !=null and player.rating > 15 and player.rating < 51}"
                          th:class="red"></span>
                    <span th:if="${player.rating ==null or player.rating < 16}" th:class="black"></span>

                    <span th:text="${player.rating!=null} ? ${player.rating} : 'ND'"></span>
                </li>
                <li class="list-group-item"
                    style="color: black" th:text="${player.position!=null} ? ${player.position.name} : 'ND'"></li>
                <li class="list-group-item"
                    style="color: black" th:text="${player.country!=null} ? ${player.country.name} : 'ND'"></li>
            </ul>
        </div>
    </div>
</div>
<div th:fragment="personalCardPlayerUnderBody">
    <div class="card-body">
        <h2 class="text-center mb-4">Team</h2>
        <h1 class="text-center mb-4">
            <a class="card-link" href="#"
               th:href="@{(id=${player.team!=null} ? '/teams/get/{id}' + ${player.team.id} : '')}"
               th:text="${player.team !=null} ? ${player.team.name} : ''"></a></h1>

    </div>
</div>


</body>
</html>