<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<
<footer th:fragment="footer"
     style="font-size: 13px;
    color: black;
    background-color: whitesmoke;
    text-align: left;
    padding: 10px;
    /*margin-top: auto;*/
    bottom: 25%;
    margin: 0 auto;
    width: fit-content;
    height: fit-content;
    overflow-y: auto;">
    <p>Prepared by unknown underdeveloper yet with the support of Andryukha Narut':)</p>
    <p>You can try to call him : +375 (33) 389 8115 - Andrew</p>
</footer>

</body>
</html>