<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>


<div th:fragment="logOutWithoutBootstrap">
    <!-- Показать имя пользователя, если он аутентифицирован -->
    <div th:fragment="logOut" class="log-out-container">
        <!-- Показать имя пользователя, если он аутентифицирован -->
        <span sec:authentication="name" class="user-name">Username</span>

        <!-- Форма для выхода, только если пользователь аутентифицирован -->
        <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post">
            <button type="submit" class="log-out-btn">Log Out</button>
        </form>

        <!-- Ссылка на вход, если пользователь не аутентифицирован -->
        <a sec:authorize="!isAuthenticated()" th:href="@{/login}" class="login-btn">Login</a>

        <!-- Дополнительная информация о текущем пользователе -->
        <span sec:authentication="authorities" class="user-authorities"></span>
    </div>
</div>

<div th:fragment="logOutBootStrap" class="d-flex justify-content-end align-items-center gap-2 border p-3 rounded">
    <!-- Показать имя пользователя, если он аутентифицирован -->
    <div th:fragment="logOut" class="log-out-container">
        <!-- Показать имя пользователя, если он аутентифицирован -->
        <span sec:authentication="name" class="user-name">Username</span>

        <!-- Форма для выхода, только если пользователь аутентифицирован -->
        <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post">
            <button type="submit" class="log-out-btn">Log Out</button>
        </form>

        <!-- Ссылка на вход, если пользователь не аутентифицирован -->
        <a sec:authorize="!isAuthenticated()" th:href="@{/login}" class="login-btn">Login</a>

        <!-- Дополнительная информация о текущем пользователе -->
        <span sec:authentication="authorities" class="user-authorities"></span>
    </div>
</div>



</body>
</html>