<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="@{/players/players/add}" method="post">
    Player:<input name="name" type="text" value="${}"><br/>
    Age:<input name="age" type="number" value="<%=request.getAttribute(" age")%>"><br/>
    Country:<input name="country" type="text" value="<%=request.getAttribute(" country")%>"><br/>
    Position:<input name="role" type="text" value="<%=request.getAttribute(" role")%>"><br/>
    Rating:<input name="rating" type="text" value="<%=request.getAttribute(" rating")%>"><br/>
    <input type="hidden" value="<%=request.getAttribute(" id")%>" name="id">
    <input name="input" type="submit" value="<%=request.getAttribute(" input")%>">

</body>
</html>