<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form th:action="@{/players/add}" method="post">
    <br> Name:<input type="text" id="name" name="name" th:value="${players.name}" /> </br>
    <br> Age:<input type="text" id="age" name="age" th:value="${players.age}" /> </br>
    <br> Country:<input type="text" id="country" name="country" th:value="${players.country}" /> </br>
    <br> Position:<input text-align="left" type="text" id="position" name="position" th:value="${players.position}" /> </br>
    <br> Rating:<input text-align="left" type="text" id="rating" name="rating" th:value="${players.rating}" /> </br>
    <br> Team:<input text-align="left" type="text" id="team" name="team" th:value="${players.team}" /> </br>
    <input type="hidden" th:value="${players.id}">
    <input name="input" type="submit">
</form>

</body>
</html>