<html lang="aria-atomic" xmlns:th="http://www.thymeleaf.org">


<head>
    <title>Update players into team </title>
    <style>
    </style>
</head>
<body>
<h2>Teams</h2>

<form th:action="@{'/teams/update/players{id}'(id=${team.id})}" method="post">
    <th:block  th:each="player : ${allPlayers}">
        <td>
        <input type="checkbox" name="playerIds"
               th:checked="${player.team !=null && player.team.id == team.id} ? true : false"
               th:text="${player.name}"
               th:value="${player.id}"
        > </input>
        </td>
    </th:block>
    <button type="submit" >Save</button>
</form>

<script>
console.log("DSAASDDASAADSDAS");
document.querySelector("button").addEventListener("click", function(event) {
    event.preventDefault(); // Prevent default form submission

    let selectedPlayers = [];
    document.querySelectorAll("input[name='playerIds']:checked").forEach(checkbox => {
        selectedPlayers.push(checkbox.value);
    });

    fetch("/teams/update/players?id=" + [[${team.id}]], {
        method: "POST",
        headers: {
            "Content-Type": "application/json"
        },
        body: JSON.stringify({ playerIds: selectedPlayers })
    }).then(response => response.json())
        .then(data => console.log(data))
        .catch(error => console.error("Error:", error));
});
</script>

</body>

</html>
